.form-main {
    margin: 60px;
    margin-left: 30%;
    width: 524px;
    background: #fff;
    padding: 16px 24px 24px 24px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 5px 5px grey;
}

.form-main12 {
    margin: 60px;
    margin-left: 30%;
    width: 524px;
    background: #fff;
    padding: 16px 24px 24px 24px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 5px 5px grey;
}

.form-main1 {
    margin: 60px;
    width: 524px;
    background: #fff;
    padding: 16px 24px 24px 24px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 5px 5px grey;
}

.pane {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

form {
    margin: 10px;
}

.form-main h3 {
    text-align: center;
    font-weight: bold;
}

.input {
    width: 452px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
}

.text {
    left: 0;
}

.extra {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 200px;
}

.extra a {
    text-decoration: none;
    color: rgb(83, 146, 249);
}

.extra a:hover {
    text-decoration: underline;
    color: #cdd8fc;
}

.btn6-hover {
    width: 452px;
    font-size: 15px;
    font-weight: 200px;
    color: #fff;
    cursor: pointer;
    margin: 10px 0 10px 0;
    height: 45px;
    border-radius: 3px;
    border: #fff;
    text-align: center;
    background-size: 200% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn6-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn6-hover:focus {
    outline: none;
}

.btn6-hover.btn5 {
    background-image: linear-gradient(to right,
            #25aae1,
            #4481eb,
            #04befe,
            #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/* listAcc */
.btn-hover {
    width: 60px;
    font-size: 15px;
    font-weight: 200px;
    color: #fff;
    cursor: pointer;
    margin: 10px 0 10px 0;
    height: 45px;
    border-radius: 3px;
    border: #fff;
    text-align: center;
    background-size: 200% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.btn5 {
    background-image: linear-gradient(to right,
            #25aae1,
            #4481eb,
            #04befe,
            #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/* editAcc */
.btn2-hover {
    width: 452px;
    font-size: 15px;
    font-weight: 200px;
    color: #fff;
    cursor: pointer;
    margin: 10px 0 10px 0;
    height: 45px;
    border-radius: 3px;
    border: #fff;
    text-align: center;
    background-size: 200% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn2-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn2-hover:focus {
    outline: none;
}

.btn2-hover.btn5 {
    background-image: linear-gradient(to right,
            #25aae1,
            #4481eb,
            #04befe,
            #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}