.btn {
	height: 31px;
	width: 100px;
	color: #fff;
	background-color: #23958fd4;
	border: none;
	cursor: pointer;
	margin: 10px 15px;
}

.btn-add {
	margin-left: 10px;
}

.btn-add {
	margin-left: 10px;
}

.btn:hover {
	opacity: .5;
}

.btn a {
	color: #fff;
	text-decoration: none;
	margin: 10px 0;
}


.btn_delete {
	background-color: red;
	color: white;
	/* border: none; */
	padding: 5px 10px;
	margin: auto;
	border: 1px solid #ddd;
}

.btn-6 {
	text-align: center;
	padding: 5px 15px;
	margin: auto;
	/* border: 1px solid #ddd; */
	color: white;
	background-color: cornflowerblue;
	/* border: none; */
	background-image: linear-gradient(to right,
			#25aae1,
			#4481eb,
			#04befe,
			#3f86ed);
	box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
	padding: 5px 10px;
	margin: auto;
	border: 1px solid #ddd;
}

.btn-6:hover {
	cursor: pointer;
}

.btn_edit {
	padding: 5px 15px;
	margin: auto;
	border: 1px solid #ddd;
	color: white;
	/* border: none; */
	padding: 5px 10px;
	margin: auto;
	border: 1px solid #ddd;
}

.button {
	/*margin-left: 30px;*/
	margin: 20px 30px;
}